@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Great+Vibes&family=Playwrite+HU:wght@100..400&display=swap'); 

h1
{
    font-family: "Archivo Black", sans-serif;   
    text-align: center;
    font-weight: 200;
    font-style: normal;
    font-size: 60px;
}
h2
{
    font-family: "Archivo Black", sans-serif;   
    font-size: 35px;
    text-align: center;
}
p
{
    text-align: center;
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
    font-family: "Pacifico", cursive;
    color: black;
}
li
{
    font-family: "Archivo Black", sans-serif;   
    font-size: 20px;
}
body
{
background-color: #F4E6CB;
}
img
{
    width:200px;
    height:150px;
}
.sopas-container 
{
    display: flex;
    gap: 200px; 
    justify-content: center;
    align-items: flex-start;
}

.sopa 
{
    width: 200px;
    background: #2B5039;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.letreiro
{
    display: flex;
    justify-content: center;
   
}

#logo
{
    width: 300px;
    height: 300px;
}

#cabecalho
{
    text-align: center;
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
    font-family: "Pacifico", cursive;
    color: #2B5039;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}